* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  width: 414px;
  margin: auto;
  font-family: 'Roboto';
  font-weight: 400;
}

a {
  color: inherit;
}

img,
video {
  max-inline-size: 100%;
  block-size: auto;
  vertical-align: text-top;
}

/* nav */
nav ul {
  list-style: none;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  gap: 17px;
  margin-bottom: 53px;
}

nav li {
  font-size: 16px;
}

nav a {
  text-decoration: none;
}

nav, header {
  padding-left: 7px;
}

nav {
  padding-top: 20px;
}

h1 {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}

header p:first-of-type {
  margin-bottom: 47px;
  font-size: 16px;
}

header p {
  font-size: 12px;
  margin-bottom: 26px;
}

header span {
  font-weight: 700;
}

img {
  margin-bottom: 56px;
}

main p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 60px;
  text-align: left;
  margin-right: 77px;
}

img:last-of-type {
  margin-bottom: 0;
}

.back-to-projects {
  background-color: white;
  padding: 28px 0px 18px;
  display: block;
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  padding-left: 7px;
  padding-top: 32px;
  padding-bottom: 38px;
  font-size: 10px;
}

footer p:first-of-type {
  margin-bottom: 23px;
  font-size: 12px;
}

footer span {
  font-weight: 700;
}

footer a {
  text-decoration: none;
}